[submodule "lib/Average"]
  path = lib/Average
  url = https://github.com/MajenkoLibraries/Average.git
[submodule "lib/Button"]
  path = lib/Button
  url = https://github.com/JChristensen/Button.git
[submodule "lib/MIDI"]
  path = lib/MIDI
  url = https://github.com/FortySevenEffects/arduino_midi_library.git
[submodule "lib/Streaming"]
  path = lib/Streaming
  url = https://github.com/scottdky/Streaming.git
[submodule "lib/digitalWriteFast"]
  path = lib/digitalWriteFast
  url = https://github.com/mpflaga/Arduino-digitalWriteFast.git
[submodule "lib/StackArray"]
  path = lib/StackArray
  url = https://github.com/oogre/StackArray.git
[submodule "lib/LEDFader"]
  path = lib/LEDFader
  url = https://github.com/jgillick/arduino-LEDFader.git
[submodule "lib/Fsm"]
  path = lib/Fsm
  url = https://github.com/jonblack/arduino-fsm
